<%- include('./partials/header.ejs') %>
    <%- include('./layouts/navbar.ejs') %>
    <main>
        <img class="w-100 opacity-25" style="height: 87vh;" src="/img/ThisIsBatCountry.jpg" alt="">
        <a href="/bandas">
        <button class="position-fixed btn btn-primary" style="bottom:50px; left:50%">Comenzar</button>
        </a>
    </main>
        <%- include('./partials/footer.ejs') %>